<table>
	<tr>
		<th>
			Name
		</th>
		<th>
			Email
		</th>
		<th>
			Roles
		</th>
		<th>
			Actions
		</th>
	</tr>
	<% @users.each do |user|%>
		<tr>
			<td>
				<%= user.nome %>
			</td>
			<td>
				<%= user.email %>
			</td>
			<td>
				<% user.roles.each do |role|%>
					<div> <%=role.name%> </div>
				<%end%>
			</td>
			<td>
				<%= link_to  'Visualizar', user_path(user.id)%>
				<%= link_to  'Editar', edit_path(user.id)%>
			</td>		
    	</tr>
	<%end%>
</table>

<%= link_to 'Novo usuário', new_user_path %>