<%= form_for(@role, :html => { :class => "well form-horizontal" }) do |f| %>
	<div>
		<strong><%= f.label :name %></strong>
		<%= f.text_field :name %>
	</div>
	
	<div>
	<strong><%= f.label :features %></strong>
	<% @features.each do |feature| %>
		<input type="checkbox" name="features[]" value="<%= feature.id %>" <%= checked_feature?(@role, feature) %>><%= feature.description %>
	<% end %>
	</div>
	<%= f.submit "Cadastrar" %>
<% end %>